$btn-color:#130B56;

*{
     padding:0;
     margin: 0;
     box-sizing: border-box;
 }
header{
      background-repeat: no-repeat;
      background-size: cover;
      height: 100vh; 
      color:white;
      border-bottom: 3px solid black ;
      nav{
        display: flex;
        flex-direction: row;
        justify-content:space-around;
        padding-top: 40px;
        padding-bottom: 10px;
       /*  margin-left: 50px; */
        border-bottom: 1px solid white;

        #site_name{
            width: 20%;
            margin-left: -210px;
            text-align: center;
            font-family:cursive;
        }
      }
 }
 #btn{
     width: 90px;
     height: 40px;
     border-radius: 10px;
     border: white 2px;
     box-shadow: 0 8px 8px -4px lightblue;
     background-color: $btn-color;
    a{
        text-decoration: none;
        color: white;
        
    }
 }

 #left_nav{
     margin-left: 25;
     display: flex;
     flex-direction: row;
     list-style: none;
     width: 40%;
     padding-top: 5px;
     li{
         padding-right: 40px;
         a{
             color:white;
             text-decoration: none;
             font-size: larger;

         }
     }
 }
 #header{
     background-image: url('../../../background.jpg');
 }
 #hero_text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
     #hero_main{
         margin-top:100px;
         font-size: 50px;
         line-height: 80px;
         align-self: center;
         text-align:center;
         text-justify: center;
         font-family:algerian;
     }
     #hero_sub{
        align-self: center;
        text-align: center;
        width: 40%;
    }

 }
 #header_video{
     display: flex;
     justify-content: center;
     align-items: center;
     video{
         margin-top: 20px;
         height: 520px;
         border: 10px solid white ;
        
     }
 }
 #about_section{
     margin-top: 15%;
     display: flex;
     justify-content: center;
     align-items: center;
     &  :first-child{
         color:black;
         font-size: 80px;
         font-weight: bold;
         font-family: Verdana, Geneva, Tahoma, sans-serif;
     }
    
 }
 #about_details{
     .screen{
         width: 100%;
         display: flex;
         justify-content: space-around;
         margin-top: 250px;
       
     }
     .about_screen_details{
         width: 30%;
         margin: 80px;
         .about_screen_details_title{
             font-family: arial black;
             margin-top: -150px;
             font-size: 50px;
             font-weight: 1000px;
     }
    p{
         font: 1.5em sans-serif;
         line-height: 60px;
     }
     button{
         width: 170px;
         height: 55px;
         background-color: $btn-color;
         color: white;
         border-radius: 10px;
     }
     }
    .about_screen_img{
        background-color: blue;
        width: 40%;
        height: 400px;
        color: red;
       border-radius: 5%;
    }
}

#reviews{
    background-color: rgb(3, 68, 245);
    color:white;
    #title{
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        #title{
            color:white;
            font-size: 80px;
            font-weight: bold;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
        p{
            font-family: serif;
            text-align: center;
            font-weight: normal;
            margin-bottom: 100px;
        }
    }
}

#main_reviews{
    width: 100%;
    height: 100vh;
    
    .top{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 50vh;
    div{
        background-color: white;
        width: 40%;
        height: 40vh;
        padding: 10%;
    } 
}
}